

.columnHeader {
	height: 20px;
	text-align: center;
  z-index: 1;
	font-size: 14px;
	font-family: arial;
}
.columnHeader .nonEditableTitle {
	display: block;
	text-align: center;
	width: 85%;
	line-height: 20px;
	overflow: hidden;
	margin: 0 auto;
}
.activeHeaderContents {
	display: flex;
	justify-content: space-between;
	margin: 0 -10px;
}
.columnWrapper:first-of-type .activeHeaderContents {
	margin-left: 0;
}
.columnWrapper:last-of-type .activeHeaderContents {
	margin-right: 0;
}

.activeHeaderContents .nonEditableTitle {
	flex: 1;
	margin: 0;
}
.activeHeaderContents span {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid transparent;
	box-sizing: border-box;
	height: 20px;
	line-height: 16px !important;
	z-index: 1;
}
.activeHeaderContents span.active {
	border-color: #7a7a7a;
	height: 21px;
}
.addColumn {
	font-size: 26px;
	padding: 1px;
	background: #baffa5;
}
.titleInput {
	flex: 1;
	font-family: arial;
	padding: 0;
	outline: none;
	border: 2px solid black;
	height: 20px;
	box-sizing: border-box;
	width: 120px;
	text-align: center;
	font-size: 14px;
}

.deleteColumn {
	background: pink;
	color: red;
	font-size: 16px;
}

.activeHeaderContents .nonEditableTitle {
	background: #faff74;
	width: 120px;
}
