body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.App {
	height: 100vh;
	width: 100%;
}


.columns {
	height: calc(100% - 40px);
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}

.columnWrapper {
	width: 20%;
	min-width: 200px;
	height: 100%;
	display: inline-block;
	flex-direction: column;
}






.column {
	text-align: left;
	padding: 8px;
	height: calc(100% - 20px);
	overflow-y: hidden;
	box-sizing: border-box;
	position: relative;
	flex: 1;
	border: 2px solid transparent;
	border-bottom: 1px solid #ccc;
}

.columnWrapper:nth-child(odd) .column {
	background: #f4efff;
}

.columnWrapper .column.highlighted {
    border: 2px solid #7a7a7a;
	z-index: 1;
}


.task {
	resize: none;
	display: block;
	width: 100%;
	min-height: 17px;
	margin-bottom: 8px;
	position: relative;
}

.taskIndex {
	position: absolute;
	font-size: 10px;
	font-family: sans-serif;
	background: white;
	top: -5px;
	left: -5px;
	padding: 0 2px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.task:not(.expanded) .taskTextarea {
	display: none;
}

.column.active .task.expanded .collapsedTask {
	display: none;
	font-size: 14px;
}

.taskTextarea {
	outline: none;
	font-size: 14px;
	border: none;
    resize: none;
    width: 100%;
    text-indent: -10px;
    padding: 4px 8px 4px 15px;
    box-sizing: border-box;
    border: 2px solid black;
}

.collapsedTask {
	background: #faff74;
	padding: 4px 8px;
	min-height: 18px;
	font-family: calibri, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	white-space: normal;
    word-break: break-word;
}

.columnWrapper:nth-child(even) .collapsedTask {
	box-shadow: 0 0 2px rgba(0,0,0,0.2) inset;
}

.collapsedTask .moreText {
	margin: -2px -8px -4px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.4));
    line-height: 10px;
    padding: 0 3px 3px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -10px;
    letter-spacing: 0.3em;
}

.column.active .task.active .collapsedTask {
	box-shadow: 0 0 0 2px #7a7a7a;
}

.hints {
	height: 20px;
}